@import "/src/app/styles/mixins.scss";

.header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #b2e025;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(l) {
      padding: 15px 0;
    }

    @include media-breakpoint-up(l) {
      padding: 37px 0;
    }
  }

  &__buy {
    @include media-breakpoint-down(l) {
      display: none;
    }
  }
}
