@import "/src/app/styles/mixins.scss";

.hero {
  overflow: hidden;
  &__wrapper {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(l) {
      flex-direction: column-reverse;
      gap: 20px;
      padding-top: 185px;
      padding-bottom: 25px;
    }

    @include media-breakpoint-up(l) {
      padding-top: 230px;
      padding-bottom: 100px;
    }

    @include media-breakpoint-between(xl, xxl) {
      gap: 45px;
    }

    @include media-breakpoint-up(xxl) {
      gap: 75px;
    }
  }

  &__text-green {
    width: max-content;
    font-weight: 900;
    background: linear-gradient(
      203.67deg,
      #b2e025 41.44%,
      rgba(178, 224, 37, 0.01) 94.61%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(l) {
      font-size: 58px;
      line-height: 69.6px;
    }

    @include media-breakpoint-between(l, xl) {
      font-size: 108px;
      line-height: 127px;
    }

    @include media-breakpoint-between(xl, xxl) {
      font-size: 148px;
      line-height: 177px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 168px;
      line-height: 201.6px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include media-breakpoint-down(md) {
      align-items: center;
    }
  }

  &__text-black {
    font-weight: 900;
    color: #212121;

    @include media-breakpoint-down(l) {
      font-size: 34px;
      line-height: 40.8px;
    }

    @include media-breakpoint-between(l, xl) {
      font-size: 58px;
      line-height: 75.2px;
    }

    @include media-breakpoint-between(xl, xxl) {
      font-size: 84px;
      line-height: 105.2px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 96px;
      line-height: 115.2px;
    }
  }

  &__qualities {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    @include media-breakpoint-down(xl) {
      gap: 15px;
    }

    @include media-breakpoint-up(xl) {
      max-width: 660px;
      gap: 40px;
    }
  }

  &__btns {
    display: flex;
    gap: 42px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__image-wrapper {
    position: relative;
    width: max-content;

    @include media-breakpoint-down(xs) {
      align-self: flex-start;
    }
  }

  &__image {
    &:not(.hero__image--secondary) {
      position: relative;
      z-index: 2;

      @include media-breakpoint-down(md) {
        width: 210px;
        height: 263px;
      }

      @include media-breakpoint-between(md, lg) {
        width: 380px;
        height: 423px;
      }

      @include media-breakpoint-between(lg, l) {
        width: 431px;
        height: 502px;
      }

      @include media-breakpoint-between(l, xl) {
        width: 531px;
        height: 602px;
      }

      @include media-breakpoint-between(xl, xxl) {
        width: 604px;
        height: 729px;
      }

      @include media-breakpoint-up(xxl) {
        width: 664px;
        height: 829px;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    &--secondary {
      z-index: 1;
      position: absolute;

      @include media-breakpoint-down(md) {
        width: 190px;
        height: 200.11px;
        top: -75px;
        left: 124px;
      }

      @include media-breakpoint-between(md, lg) {
        width: 380px;
        height: 423px;
        top: -75px;
        left: 124px;
      }

      @include media-breakpoint-between(lg, l) {
        width: 401px;
        height: 452px;
        top: -50px;
        left: 180px;
      }

      @include media-breakpoint-between(l, xl) {
        width: 501px;
        height: 552px;
        top: -70px;
        left: 260px;
      }

      @include media-breakpoint-between(xl, xxl) {
        top: -90px;
        left: 320px;
        width: 601px;
        height: 602px;
      }

      @include media-breakpoint-up(xxl) {
        top: -90px;
        left: 320px;
        width: 661px;
        height: 632px;
      }
    }
  }
}
